@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 2.5rem /* 40px */;
}